:root {
	--background-color: #f5f5f5;
	--circle-color: #ff0000;
	--text-color: black;
	--box-color: rgb(122, 124, 182);
	--glow-00: rgb(105, 105, 245);
	--glow-01: rgb(112, 112, 213);
	--glow-02: rgb(81, 81, 184);
	--glow-03: rgb(62, 62, 135);
	--glow-04: rgb(33, 33, 72);
	--click-shadow: rgb(106, 0, 255);
	--first-box: lightyellow;
	--second-box: lightblue;
}

body {
	background-color: var(--background-color);
	background-image: url('/src/assets/images/space.png');
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 20px;
}

#back01 {
	border: 3px solid var(--text-color);
	background-color: var(--box-color);
	border-radius: 5px;
	width: 80%;
	max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back02 {
	border: 3px solid var(--text-color);
	background-color: var(--box-color);
	border-radius: 5px;
	width: 100%;
    max-width: 850px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	
}

#out-box {
	border: 3px solid var(--text-color);
	background-color: var(--box-color);
	border-radius: 15px;
	width: 100%;
	height: 580px;
	margin: 0 auto;
	align-content: center;
	
	
}

.contact-container {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	width: 100%;
}

#contact-form {
    background-color: var(--box-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px var(--text-color);
    width: 100%;
    max-width: 500px;
}

#contact-form input, 
#contact-form textarea {
    width: 90%; 
    max-width: 400px; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--glow-02);
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

.iframe-container {
    width: 100%;
    max-width: 500px;
	margin-bottom: 20px;
}

.iframe-container iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.contact-box {
	width: 280px;
	height: 300px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--first-box);
	padding: 10px;
	box-shadow: 2px 2px 10px var(--text-color);
}

.blue-box {
	background-color: var(--second-box);
}

.yellow-box {
	background-color: var(--first-box);
}

input {
	margin: 10px 0;
	padding: 5px;
	border: 1px solid var(--text-color);
	border-radius: 5px;
}

button {
	background-color: var(--background-color);
	border: 1px solid var(--text-color);
	padding: 5px 10px;
	cursor: pointer;
}

.question{
	width: 280px;
	height: 300px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--second-box);
	padding: 10px;
	box-shadow: 2px 2px 10px var(--text-color);
}



#main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	padding: 10px 20px;
}

#main-nav ul {
	padding-left: 0%;
	display: -webkit-box;
}

#main-nav li {
	list-style-type:none; /*remove bullets from list*/
	margin: 0 5px
}

#main-nav a {
	color: var(--text-color);
	text-decoration: none;
	padding: 10px 15px;
}

#main-nav a:hover {
	color: var(--background-color);
	border-bottom: 1px solid var(--text-color);
}

#nav-items a.active {
	animation: glow 1s ease-in-out infinite alternate;
	color: var(--background-color);
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px var(--glow-00), 0 0 20px var(--glow-01);
	}
	
	80% {
		text-shadow: 0 0 10px var(--glow-02), 0 0 20px var(--glow-03);
	}
	
	100% {
		text-shadow: 0 0 20px var(--click-shadow), 0 0 30px var(--glow-04);
	}
}

#back {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	width: 50px;
}

@media (max-width: 768px) {
	#main-nav {
		flex-direction: column;
		text-align: center;
	}
	
	#main-nav a {
		padding: 10px;
		width: 100%;
	}

	.contact-container {
        flex-direction: column;
        align-items: center;
    }

	#back01, #back02 {
        width: 95%;
    }
	
}

@media screen and (max-width: 800px) {
	#main-nav {
		display: none;
	}
}